[user]
  name = Jelle Sebreghts
  email = sebreghts.jelle@gmail.com
[core]
  excludesfile = ~/.gitignore-global
[alias]
  changelog = tag -l -n1000 --sort=v:refname

  # Last version; show latest tag on the current branch.
  lastversion = describe --abbrev=0 --tags

  # DG releases and CHANGELOG
  release-log = log --date=local --no-merges --no-color
  release-notes = "!f() { git release-log \"${1:-$(git lastversion)}\"..\"${2:-$(git rev-parse HEAD)}\"; }; f \"$@\""
  release-tag = "!f() { { echo \"Release $1\n\n\"; git release-notes; } | git tag -a \"$1\" -F -; }; f \"$@\""
  # Deprecated aliases.
  lm = log --date=local --no-merges --no-color
  rn = "!f() { git release-log \"${1:-$(git lastversion)}\"..\"${2:-$(git rev-parse HEAD)}\"; }; f \"$@\""
  tag-release = "!f() { { echo \"Release $1\n\n\"; git release-notes; } | git tag -a \"$1\" -F -; }; f \"$@\""
[tag]
  sort = v:refname
[init]
  templatedir = ~/.git-templates
[filesystem "Ubuntu|11.0.6|/dev/sda1"]
	timestampResolution = 11000 nanoseconds
	minRacyThreshold = 6303 microseconds
[filesystem "Ubuntu|11.0.7|/dev/sda1"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 4760 microseconds
[filesystem "Ubuntu|11.0.8|/dev/sda1"]
	timestampResolution = 10000 nanoseconds
	minRacyThreshold = 14464 microseconds
[filesystem "Ubuntu|11.0.9|/dev/sda1"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 8025 microseconds
